* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/eyeconic/images/Glasses-Wallpaper.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0;
}
.home .content {
    max-width: 600px;
    color: #fff;
    background-color: #7e6f61;
    position: relative;
    z-index: 0;
    padding: 10px 20px 0 20px;
}
.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
}
.content p {
    margin: 10px 0 40px;
}
.content a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, #1e0b04, #71412a);
}
.content a:hover {
    background: #7e6f61;
}
.home .wrapper-login {
    position: relative;
    width: 440px;
    border: 3px solid #fff;
    padding: 20px 20px 20px 20px;
}
.wrapper-login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 25px 0 45px;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label, .input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;    
}
.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}
.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #1e0b04, #71412a);
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}