.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    overflow-x: auto;
    /*margin-top: 10px; */
}
.details .order {
    position: relative;
    display: grid; 
    width: 100%;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.details .cardHeader{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
    padding-bottom: 50px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    max-height: 300px;
}
.details table a {
    display: block;
    width: 115px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.details table thead td {
    font-weight: 600;
    border-top: 1px solid var(--black1);
    border-bottom: 1px solid var(--black1);
}
.details table tbody td {
    padding-bottom: 20px;
}
.details .order table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .order table tr:last-child {
    border-bottom: none;    
}
.details .order table tr:hover {
    background: var(--blue);    
    color: var(--white);
}
.details .order table tr td {
    padding: 10px;   
}
.details .order table tr td:last-child {
    text-align: end;
}
.details .order table tr td:nth-child(2) {
    text-align: end;
}
.details .order table tr td:nth-child(3) {
    text-align: center;
}
.orderdetail {
    background-color: white;
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    text-align: left;
}
.orderdetail p:not(:last-child){
    margin-top: 20px;
    margin-bottom: 20px;
}
select {
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}